body{
    background: rgb(107,236,148);
    background: radial-gradient(circle, rgba(107,236,148,1) 0%, rgba(23,192,223,1) 100%);
}

h1{
    color: rgb(4, 0, 236)
    
}

.h3{
   
    top: -1rem;
    display: block;
    position: relative;
}


.p{
    font-size: 13px;
    top: -2rem;
    display: block;
    position: relative;
}

.container{
    padding:15px;
    width:100px;
    height:100px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px ;

}


.card{
    background: rgb(107, 163, 236);
    background: radial-gradient(circle, #FFF100 0%, #FF000A 100%);
    width:100px;
    height:200px; 
    border: solid 1px black;
    text-align: center;
    padding: 12px;
  
}

.img{
    width:50px; 
    top: -31px;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.dbzImg{
	display: flex; 
	justify-content: center;
	align-items: center;
}
